# <b> Data Processing Practice with PySpark and SparkSQL

## Nhập về thư viện cần thiết và thực hiện cấu hình/điều chỉnh cho phù hợp với máy

### Nhập thư viện

In [93]:
#cái này là để nó không cảnh báo khi sử dụng pyspark.pandas, mà thư viện phụ thuộc vào pyarrow nên cần set về 1 cho nó đỡ càm ràm
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"

In [265]:
#import mấy thư viện cần thiết
from pyspark.sql import SparkSession
import pyspark.pandas as ps
from pyspark.sql.functions import col, isnan, when, count, desc, mean
import pandas as pd

### Cấu hình

In [98]:
#cấu hình Spark cho phù hợp với máy tính (ps: máy tính công ty nên yếu si lýnh)
spark = (SparkSession.builder
         .config("spark.driver.memory", "4g")
         .config("spark.sql.execution.arrow.maxRecordsPerBatch", "50000")
         .config("spark.sql.shuffle.partitions", "8")
         .config("spark.network.timeout", "600s")
         .getOrCreate()
)

## Đọc file .csv

In [101]:
#mới nhảy qua chơi món Spark nên chưa quen việc thêm .show() đằng sau lắm; cái inferSchema cũng quan trọng nha, 
#cái này sẽ phải đọc thêm về cách Spark nó xử lý, cơ mà đọc trên stackoverflow, hiểu đơn giản là không thêm vào 
#nó bị thành hết String tại Spark lười
df = spark.read.csv('/Users/Alpha/datasets/Churn_Modelling.csv', inferSchema = True, header = True)
df.show()

+---------+----------+---------+-----------+---------+------+-----+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|  Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+-----+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42.0|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41.0|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42.0|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39.0|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43.0|     2|125510.82|            1|     NULL|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44.0|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|     NULL|  Male| 50.0|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29.0|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44.0|     4|142051.07|            2|        0|          NULL|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| NULL|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31.0|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24.0|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34.0|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25.0|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35.0|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45.0|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58.0|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24.0|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male|45.25|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24.0|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+-----+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

## Làm sạch dữ liệu

### 1. Kiểm tra Schema, Casting và đổi tên cột cho dễ hiểu

In [105]:
#check Schema của các cột trong dữ liệu, có vẻ các cột đều khá oke
df.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

Ở đây hầu như cột nào tên cũng bắt đầu bằng chữ viết hoa, để nguyên thì khéo nó loạn nhà luôn.

Ngoải ra thì cột 'Age' đang bị sai kiểu dữ liệu, nhiều cột đọc xong chưa hiểu ngay nó là cái gì, ví dụ như <b> 'CrCard' </b> thì khá khó hiểu ra là Credit Card nên cần đổi tên kha khá.

In [109]:
#thực hiện chuyển kiểu dữ liệu và đổi tên các cột để đọc dễ hiểu hơn
bank_churned_casting = df.select(
    col('CustomerId').cast('integer').alias('customer_id')
    , col('Surname').cast('string').alias('surname')
    , col('CreditScore').cast('integer').alias('credit_score')
    , col('Geography').cast('string').alias('home_country')
    , col('Gender').cast('string').alias('gender')
    , col('Age').cast('integer').alias('age')
    , col('Tenure').cast('integer').alias('years_stayed')
    , col('Balance').cast('double').alias('bank_balance')
    , col('NumOfProducts').cast('integer').alias('no_products_used')
    , col('HasCrCard').cast('integer').alias('hasCreditCard')
    , col('IsActiveMember').cast('integer').alias('isActive')
    , col('EstimatedSalary').cast('double').alias('salary')
    , col('Exited').cast('integer').alias('isChurned')
)

In [111]:
#thành quả
bank_churned_casting.show()

+-----------+---------+------------+------------+------+----+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|  surname|credit_score|home_country|gender| age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+---------+------------+------------+------+----+------------+------------+----------------+-------------+--------+---------+---------+
|   15634602| Hargrave|         619|      France|Female|  42|           2|         0.0|               1|            1|       1|101348.88|        1|
|   15647311|     Hill|         608|       Spain|Female|  41|           1|    83807.86|               1|            0|       1|112542.58|        0|
|   15619304|     Onio|         502|      France|Female|  42|           8|    159660.8|               3|            1|       0|113931.57|        1|
|   15701354|     Boni|         699|      France|Female|  39|           1|         0.0|               2|            0|       0| 93826.63|        0|
|   15737888| Mitchell|         850|       Spain|Female|  43|           2|   125510.82|               1|         NULL|       1|  79084.1|        0|
|   15574012|      Chu|         645|       Spain|  Male|  44|           8|   113755.78|               2|            1|       0|149756.71|        1|
|   15592531| Bartlett|         822|        NULL|  Male|  50|           7|         0.0|               2|            1|       1|  10062.8|        0|
|   15656148|   Obinna|         376|     Germany|Female|  29|           4|   115046.74|               4|            1|       0|119346.88|        1|
|   15792365|       He|         501|      France|  Male|  44|           4|   142051.07|               2|            0|    NULL|  74940.5|        0|
|   15592389|       H?|         684|      France|  Male|NULL|           2|   134603.88|               1|            1|       1| 71725.73|        0|
|   15767821|   Bearce|         528|      France|  Male|  31|           6|   102016.72|               2|            0|       0| 80181.12|        0|
|   15737173|  Andrews|         497|       Spain|  Male|  24|           3|         0.0|               2|            1|       0| 76390.01|        0|
|   15632264|      Kay|         476|      France|Female|  34|          10|         0.0|               2|            1|       0| 26260.98|        0|
|   15691483|     Chin|         549|      France|Female|  25|           5|         0.0|               2|            0|       0|190857.79|        0|
|   15600882|    Scott|         635|       Spain|Female|  35|           7|         0.0|               2|            1|       1| 65951.65|        0|
|   15643966|  Goforth|         616|     Germany|  Male|  45|           3|   143129.41|               2|            0|       1| 64327.26|        0|
|   15737452|    Romeo|         653|     Germany|  Male|  58|           1|   132602.88|               1|            1|       0|  5097.67|        1|
|   15788218|Henderson|         549|       Spain|Female|  24|           9|         0.0|               2|            1|       1| 14406.41|        0|
|   15661507|  Muldrow|         587|       Spain|  Male|  45|           6|         0.0|               1|            0|       0|158684.81|        0|
|   15568982|      Hao|         726|      France|Female|  24|           6|         0.0|               2|            1|       1| 54724.03|        0|
+-----------+---------+------------+------------+------+----+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [113]:
#check lại Schema
bank_churned_casting.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- surname: string (nullable = true)
 |-- credit_score: integer (nullable = true)
 |-- home_country: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- years_stayed: integer (nullable = true)
 |-- bank_balance: double (nullable = true)
 |-- no_products_used: integer (nullable = true)
 |-- hasCreditCard: integer (nullable = true)
 |-- isActive: integer (nullable = true)
 |-- salary: double (nullable = true)
 |-- isChurned: integer (nullable = true)

### 2. Kiểm tra trùng lặp

Mỗi khách hàng thì chỉ có một id thôi, khó mà có 2 khách đồng quy được. Thế nên là bỏ lặp đi để data nó đẹp hơn.

In [117]:
#nếu dùng sql nhiều rồi thì bước này cũng ez, cơ mà giải thích thì là đếm theo các dòng (bên dưới ghi columns hem, thực sự nó là
#group theo giá trị của cột đó, chứ đừng hiểu là gộp thành hết một cột rồi đếm), và xem dòng nào xuất hiện nhiều hơn một lần thôi
bank_churned_duplicates = bank_churned_casting.groupBy(bank_churned_casting.columns).count().filter("count > 1")

#đoạn này thì xem những id nào đang là id bị lặp ấy, thì mấy id xuất hiện nhiều hơn 1 là đang lặp rồi
#cái note là đối với kiểu dữ liệu columns trong spark thì cần collect() để nhận dữ liệu
bank_churned_duplicates_id = bank_churned_duplicates.select('customer_id').collect()
bank_churned_duplicates_id

[Row(customer_id=15682355), Row(customer_id=15628319)]

In [119]:
#giờ check dòng có id bị lặp xem máy nó bị dở hơi hay lặp thật
bank_churned_casting.filter(bank_churned_casting['customer_id'].isin(bank_churned_duplicates_list)).show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|  salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+
|   15682355|Sabbatini|         772|     Germany|  Male| 42|           3|    75075.31|               2|            1|       0|92888.52|        1|
|   15682355|Sabbatini|         772|     Germany|  Male| 42|           3|    75075.31|               2|            1|       0|92888.52|        1|
|   15628319|   Walker|         792|      France|Female| 28|           4|   130142.79|               1|            1|       0|38190.78|        0|
|   15628319|   Walker|         792|      France|Female| 28|           4|   130142.79|               1|            1|       0|38190.78|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+

Lặp thật.

In [122]:
#cơ mà mấy cái id đang bị vướng, nó ở dạng list rồi cơ mà chưa lấy ra được
#đoạn này thì nên hiểu là nếu khai báo thứ tự dòng xong chain nó với tên cột thì sẽ ra giá trị bên trong
#vd, cop dòng dưới này sang một cell khác rồi chạy thử nhé
# bank_churned_duplicates_id[0].customer_id ==> kết quả: 15682355 

#đoạn này chạy để nó ra cái mình cần thôi, báo là row để chạy lặp cho dễ hiểu thôi chứ thực chất cứ hiểu là 
#lấy giá trị từ list ra, mà cái này chạy vòng lặp python cơ bản rồi =)))
bank_churned_duplicates_list = [int(row.customer_id) for row in bank_churned_duplicates_id]

#đoạn này thì là list rồi có số má ngon rồi
bank_churned_duplicates_list

[15682355, 15628319]

In [124]:
#drop test thử xem còn bị lặp giá trị không nhá
test = bank_churned_casting.drop_duplicates()
test.show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15701354|     Boni|         699|      France|Female| 39|           1|         0.0|               2|            0|       0| 93826.63|        0|
|   15643966|  Goforth|         616|     Germany|  Male| 45|           3|   143129.41|               2|            0|       1| 64327.26|        0|
|   15729599|  Lorenzo|         804|       Spain|  Male| 33|           7|     76548.6|               1|            0|       1| 98453.45|        0|
|   15804771|Velazquez|         614|      France|  Male| 51|           4|    40685.92|               1|            1|       1| 46775.28|        0|
|   15651280|   Hunter|         742|     Germany|  Male| 35|           5|    136857.0|               1|            0|       0| 84509.57|        0|
|   15592461|  Jackson|         603|     Germany|  Male| 26|           4|   109166.37|               1|            1|       1| 92840.67|        0|
|   15663706|  Leonard|         777|      France|Female| 32|           2|         0.0|               1|            1|       0|136458.19|        1|
|   15809248|     Cole|         524|      France|Female| 36|          10|         0.0|               2|            1|       0|109614.57|        0|
|   15808582|       Fu|         665|      France|Female| 40|           6|         0.0|               1|            1|       1|161848.03|        0|
|   15744689|    T'ang|         479|     Germany|  Male| 35|           9|    92833.89|               1|            1|       0| 99449.86|        1|
|   15682472| Culbreth|         828|      France|  Male| 34|           8|   129433.34|               2|            0|       0| 38131.77|        0|
|   15760085|Calabresi|         684|     Germany|Female| 48|          10|   126384.42|               1|            1|       1|198129.36|        0|
|   15628145|  Forwood|         682|      France|Female| 43|           5|   125851.93|               1|            1|       1|193318.33|        0|
|   15794413|   Harris|         416|      France|  Male| 32|           0|         0.0|               2|            0|       1|   878.87|        0|
|   15589975|  Maclean|         646|      France|Female| 73|           6|    97259.25|               1|            0|       1|104719.66|        0|
|   15641122|      Wei|         684|      France|  Male| 30|           2|         0.0|               2|            1|       0| 83473.82|        0|
|   15630910|   Treacy|         800|      France|Female| 49|           7|   108007.36|               1|            0|       0| 47125.11|        0|
|   15658929| Taverner|         683|       Spain|  Male| 29|           0|   133702.89|               1|            1|       0| 55582.54|        1|
|   15586310|     Ting|         578|      France|  Male| 30|           4|   169462.09|               1|            1|       0|112187.11|        0|
|   15716334|   Rozier|         850|       Spain|Female| 45|           2|   122311.21|               1|            1|       1|  19482.5|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [126]:
#check lại 2 con id khách hàng bị lặp ban nãy
test.filter(bank_churned_casting['customer_id'].isin(bank_churned_duplicates_list)).show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|  salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+
|   15682355|Sabbatini|         772|     Germany|  Male| 42|           3|    75075.31|               2|            1|       0|92888.52|        1|
|   15628319|   Walker|         792|      France|Female| 28|           4|   130142.79|               1|            1|       0|38190.78|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+

Thế là hết lặp rồi, không cần test nữa cho thẳng vô bước kết quả thôi.

In [202]:
#nhận kết quả
bank_churned_deduplicating = bank_churned_casting.drop_duplicates() 
bank_churned_deduplicating.filter(bank_churned_casting['customer_id'].isin(bank_churned_duplicates_list)).show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|  salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+
|   15682355|Sabbatini|         772|     Germany|  Male| 42|           3|    75075.31|               2|            1|       0|92888.52|        1|
|   15628319|   Walker|         792|      France|Female| 28|           4|   130142.79|               1|            1|       0|38190.78|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+--------+---------+

In [204]:
bank_churned_deduplicating.show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15701354|     Boni|         699|      France|Female| 39|           1|         0.0|               2|            0|       0| 93826.63|        0|
|   15643966|  Goforth|         616|     Germany|  Male| 45|           3|   143129.41|               2|            0|       1| 64327.26|        0|
|   15729599|  Lorenzo|         804|       Spain|  Male| 33|           7|     76548.6|               1|            0|       1| 98453.45|        0|
|   15804771|Velazquez|         614|      France|  Male| 51|           4|    40685.92|               1|            1|       1| 46775.28|        0|
|   15651280|   Hunter|         742|     Germany|  Male| 35|           5|    136857.0|               1|            0|       0| 84509.57|        0|
|   15592461|  Jackson|         603|     Germany|  Male| 26|           4|   109166.37|               1|            1|       1| 92840.67|        0|
|   15663706|  Leonard|         777|      France|Female| 32|           2|         0.0|               1|            1|       0|136458.19|        1|
|   15809248|     Cole|         524|      France|Female| 36|          10|         0.0|               2|            1|       0|109614.57|        0|
|   15808582|       Fu|         665|      France|Female| 40|           6|         0.0|               1|            1|       1|161848.03|        0|
|   15744689|    T'ang|         479|     Germany|  Male| 35|           9|    92833.89|               1|            1|       0| 99449.86|        1|
|   15682472| Culbreth|         828|      France|  Male| 34|           8|   129433.34|               2|            0|       0| 38131.77|        0|
|   15760085|Calabresi|         684|     Germany|Female| 48|          10|   126384.42|               1|            1|       1|198129.36|        0|
|   15628145|  Forwood|         682|      France|Female| 43|           5|   125851.93|               1|            1|       1|193318.33|        0|
|   15794413|   Harris|         416|      France|  Male| 32|           0|         0.0|               2|            0|       1|   878.87|        0|
|   15589975|  Maclean|         646|      France|Female| 73|           6|    97259.25|               1|            0|       1|104719.66|        0|
|   15641122|      Wei|         684|      France|  Male| 30|           2|         0.0|               2|            1|       0| 83473.82|        0|
|   15630910|   Treacy|         800|      France|Female| 49|           7|   108007.36|               1|            0|       0| 47125.11|        0|
|   15658929| Taverner|         683|       Spain|  Male| 29|           0|   133702.89|               1|            1|       0| 55582.54|        1|
|   15586310|     Ting|         578|      France|  Male| 30|           4|   169462.09|               1|            1|       0|112187.11|        0|
|   15716334|   Rozier|         850|       Spain|Female| 45|           2|   122311.21|               1|            1|       1|  19482.5|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

oke ngon rồi đấy!

### 3. Kiểm tra giá trị null từng cột

In [194]:
#show tên cột cho xanh chín
df_column = bank_churned_deduplicating.columns
df_column

['customer_id',
 'surname',
 'credit_score',
 'home_country',
 'gender',
 'age',
 'years_stayed',
 'bank_balance',
 'no_products_used',
 'hasCreditCard',
 'isActive',
 'salary',
 'isChurned']

Ý tưởng cho việc kiểm tra null là đếm số giá trị null của mỗi cột. Nếu pyspark nó ngon như pandas thì phần này làm khá dễ, 
chỉ cần df.info() là xong rồi, cơ mà pyspark nó dễ bị lỗi lắm. Nếu chạy kiểu đó, pyspark nó sẽ kêu lỗi tại méo xử lý được
nên là nếu muốn đếm null thì phải thủ công, nghĩ theo hướng SQL xíu.

Giờ chạy con vòng lặp các cột rồi đếm nhá.

In [206]:
temp_null_container = bank_churned_deduplicating.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_column]).show()
#Tạo một container để xem cả cái bảng nó null ở đâu
temp_null_container

+-----------+-------+------------+------------+------+---+------------+------------+----------------+-------------+--------+------+---------+
|customer_id|surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|salary|isChurned|
+-----------+-------+------------+------------+------+---+------------+------------+----------------+-------------+--------+------+---------+
|          0|      0|           0|           1|     0|  1|           0|           0|               0|            1|       1|     0|        0|
+-----------+-------+------------+------------+------+---+------------+------------+----------------+-------------+--------+------+---------+

Từ kết quả trên thì thấy các cột này bị null này: <b>'home_country', 'age', 'hasCreditCard', 'isActive'

Giờ mình xử lý từng cột một thôi là ngon rồi.

#### 3.1. Cột 'home_country'

In [208]:
bank_churned_deduplicating.select(col('home_country')).distinct().show()

+------------+
|home_country|
+------------+
|       Spain|
|      France|
|     Germany|
|        NULL|
+------------+

Đầu tiên xem có những giá trị nào trong cột, thì ta thấy một con NULL to đùng, cơ mà theo bảng trên thì có mỗi một giá trị NULL thôi.
Vẫn cần sửa để dataset nó đẹp xíu, thì mình thay NULL thành Unknown là xong.

In [226]:
test = bank_churned_deduplicating.fillna(value='Unknown', subset=['home_country'])
test.show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15701354|     Boni|         699|      France|Female| 39|           1|         0.0|               2|            0|       0| 93826.63|        0|
|   15643966|  Goforth|         616|     Germany|  Male| 45|           3|   143129.41|               2|            0|       1| 64327.26|        0|
|   15729599|  Lorenzo|         804|       Spain|  Male| 33|           7|     76548.6|               1|            0|       1| 98453.45|        0|
|   15804771|Velazquez|         614|      France|  Male| 51|           4|    40685.92|               1|            1|       1| 46775.28|        0|
|   15651280|   Hunter|         742|     Germany|  Male| 35|           5|    136857.0|               1|            0|       0| 84509.57|        0|
|   15592461|  Jackson|         603|     Germany|  Male| 26|           4|   109166.37|               1|            1|       1| 92840.67|        0|
|   15663706|  Leonard|         777|      France|Female| 32|           2|         0.0|               1|            1|       0|136458.19|        1|
|   15809248|     Cole|         524|      France|Female| 36|          10|         0.0|               2|            1|       0|109614.57|        0|
|   15808582|       Fu|         665|      France|Female| 40|           6|         0.0|               1|            1|       1|161848.03|        0|
|   15744689|    T'ang|         479|     Germany|  Male| 35|           9|    92833.89|               1|            1|       0| 99449.86|        1|
|   15682472| Culbreth|         828|      France|  Male| 34|           8|   129433.34|               2|            0|       0| 38131.77|        0|
|   15760085|Calabresi|         684|     Germany|Female| 48|          10|   126384.42|               1|            1|       1|198129.36|        0|
|   15628145|  Forwood|         682|      France|Female| 43|           5|   125851.93|               1|            1|       1|193318.33|        0|
|   15794413|   Harris|         416|      France|  Male| 32|           0|         0.0|               2|            0|       1|   878.87|        0|
|   15589975|  Maclean|         646|      France|Female| 73|           6|    97259.25|               1|            0|       1|104719.66|        0|
|   15641122|      Wei|         684|      France|  Male| 30|           2|         0.0|               2|            1|       0| 83473.82|        0|
|   15630910|   Treacy|         800|      France|Female| 49|           7|   108007.36|               1|            0|       0| 47125.11|        0|
|   15658929| Taverner|         683|       Spain|  Male| 29|           0|   133702.89|               1|            1|       0| 55582.54|        1|
|   15586310|     Ting|         578|      France|  Male| 30|           4|   169462.09|               1|            1|       0|112187.11|        0|
|   15716334|   Rozier|         850|       Spain|Female| 45|           2|   122311.21|               1|            1|       1|  19482.5|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [228]:
test.select(col('home_country')).distinct().show()

+------------+
|home_country|
+------------+
|       Spain|
|     Unknown|
|      France|
|     Germany|
+------------+

Này là cái cột cắn giá trị 'Unknown' rồi, lát mình gán vào dữ liệu cần thôi.

Tại sao là lát í hả, ấy là vì mình có thể fillna dưới dạng dict, tức là fill giá trị null của từng cột với một giá trị riêng mình khoái.

Thế nên xử lý từng cột một thôi!

#### 3.2. Cột 'age'

In [260]:
#distinct luôn để xem tìm Null có dễ như lần trước không
test_age = bank_churned_deduplicating.select(col('age')).distinct()

#có vẻ là không rồi =)))
test_age.show()

+---+
|age|
+---+
| 38|
| 46|
| 67|
| 70|
| 18|
| 39|
| 51|
| 48|
| 62|
| 23|
| 64|
| 82|
| 74|
| 31|
| 58|
| 49|
| 57|
| 76|
| 77|
| 41|
+---+
only showing top 20 rows

In [262]:
#sort lại cột để nhìn NULL
test_age.sort(col('age')).show()

+----+
| age|
+----+
|NULL|
|  18|
|  19|
|  20|
|  21|
|  22|
|  23|
|  24|
|  25|
|  26|
|  27|
|  28|
|  29|
|  30|
|  31|
|  32|
|  33|
|  34|
|  35|
|  36|
+----+
only showing top 20 rows

May là toàn 1 NULL hết nên cũng chill =)) giờ tính trung bình cột age rồi thay giá trị hiện tại vào là oke

In [289]:
test_age.select(mean(col('age'))).collect()

[Row(avg(age)=52.6)]

Ca này thì thôi khỏi chạy list làm gì cho màu mè =))) replace NULL với 52.6 là oke

#### 3.3. Cột 'hasCreditCard', 'isActive'

2 cột này thì xử lý y hệt nhau luôn, tại nó đều là cột boolean nên mình thay thành một cái Unknown riêng cho nó, nên cho nó là 2 cả đôi.

#### 3.4. Fill NULL

In [329]:
test = bank_churned_deduplicating.fillna({'home_country':'Unknown'
                                   , 'age': 53 #lẽ ra là 52.6 cơ mà làm tròn lên tại cột này đang là integer
                                   , 'hasCreditCard' : 2
                                   , 'isActive': 2
                                  })
test.show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15701354|     Boni|         699|      France|Female| 39|           1|         0.0|               2|            0|       0| 93826.63|        0|
|   15643966|  Goforth|         616|     Germany|  Male| 45|           3|   143129.41|               2|            0|       1| 64327.26|        0|
|   15729599|  Lorenzo|         804|       Spain|  Male| 33|           7|     76548.6|               1|            0|       1| 98453.45|        0|
|   15804771|Velazquez|         614|      France|  Male| 51|           4|    40685.92|               1|            1|       1| 46775.28|        0|
|   15651280|   Hunter|         742|     Germany|  Male| 35|           5|    136857.0|               1|            0|       0| 84509.57|        0|
|   15592461|  Jackson|         603|     Germany|  Male| 26|           4|   109166.37|               1|            1|       1| 92840.67|        0|
|   15663706|  Leonard|         777|      France|Female| 32|           2|         0.0|               1|            1|       0|136458.19|        1|
|   15809248|     Cole|         524|      France|Female| 36|          10|         0.0|               2|            1|       0|109614.57|        0|
|   15808582|       Fu|         665|      France|Female| 40|           6|         0.0|               1|            1|       1|161848.03|        0|
|   15744689|    T'ang|         479|     Germany|  Male| 35|           9|    92833.89|               1|            1|       0| 99449.86|        1|
|   15682472| Culbreth|         828|      France|  Male| 34|           8|   129433.34|               2|            0|       0| 38131.77|        0|
|   15760085|Calabresi|         684|     Germany|Female| 48|          10|   126384.42|               1|            1|       1|198129.36|        0|
|   15628145|  Forwood|         682|      France|Female| 43|           5|   125851.93|               1|            1|       1|193318.33|        0|
|   15794413|   Harris|         416|      France|  Male| 32|           0|         0.0|               2|            0|       1|   878.87|        0|
|   15589975|  Maclean|         646|      France|Female| 73|           6|    97259.25|               1|            0|       1|104719.66|        0|
|   15641122|      Wei|         684|      France|  Male| 30|           2|         0.0|               2|            1|       0| 83473.82|        0|
|   15630910|   Treacy|         800|      France|Female| 49|           7|   108007.36|               1|            0|       0| 47125.11|        0|
|   15658929| Taverner|         683|       Spain|  Male| 29|           0|   133702.89|               1|            1|       0| 55582.54|        1|
|   15586310|     Ting|         578|      France|  Male| 30|           4|   169462.09|               1|            1|       0|112187.11|        0|
|   15716334|   Rozier|         850|       Spain|Female| 45|           2|   122311.21|               1|            1|       1|  19482.5|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [330]:
#check xem còn ông nào null không
test.select([
    count(when(isnan(c) | col(c).isNull(), c)).alias(c)
    for c in test.columns
]).show()

+-----------+-------+------------+------------+------+---+------------+------------+----------------+-------------+--------+------+---------+
|customer_id|surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|salary|isChurned|
+-----------+-------+------------+------------+------+---+------------+------------+----------------+-------------+--------+------+---------+
|          0|      0|           0|           0|     0|  0|           0|           0|               0|            0|       0|     0|        0|
+-----------+-------+------------+------------+------+---+------------+------------+----------------+-------------+--------+------+---------+

Có vẻ là hết null òi, ngon đét nhể. Giờ mình gán lại vào cái cục biến ban đầu là oke.

In [334]:
bank_churned_null_removed = bank_churned_deduplicating.fillna({'home_country':'Unknown'
                                   , 'age': 53
                                   , 'hasCreditCard' : 2
                                   , 'isActive': 2
                                  })
bank_churned_null_removed.show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15701354|     Boni|         699|      France|Female| 39|           1|         0.0|               2|            0|       0| 93826.63|        0|
|   15643966|  Goforth|         616|     Germany|  Male| 45|           3|   143129.41|               2|            0|       1| 64327.26|        0|
|   15729599|  Lorenzo|         804|       Spain|  Male| 33|           7|     76548.6|               1|            0|       1| 98453.45|        0|
|   15804771|Velazquez|         614|      France|  Male| 51|           4|    40685.92|               1|            1|       1| 46775.28|        0|
|   15651280|   Hunter|         742|     Germany|  Male| 35|           5|    136857.0|               1|            0|       0| 84509.57|        0|
|   15592461|  Jackson|         603|     Germany|  Male| 26|           4|   109166.37|               1|            1|       1| 92840.67|        0|
|   15663706|  Leonard|         777|      France|Female| 32|           2|         0.0|               1|            1|       0|136458.19|        1|
|   15809248|     Cole|         524|      France|Female| 36|          10|         0.0|               2|            1|       0|109614.57|        0|
|   15808582|       Fu|         665|      France|Female| 40|           6|         0.0|               1|            1|       1|161848.03|        0|
|   15744689|    T'ang|         479|     Germany|  Male| 35|           9|    92833.89|               1|            1|       0| 99449.86|        1|
|   15682472| Culbreth|         828|      France|  Male| 34|           8|   129433.34|               2|            0|       0| 38131.77|        0|
|   15760085|Calabresi|         684|     Germany|Female| 48|          10|   126384.42|               1|            1|       1|198129.36|        0|
|   15628145|  Forwood|         682|      France|Female| 43|           5|   125851.93|               1|            1|       1|193318.33|        0|
|   15794413|   Harris|         416|      France|  Male| 32|           0|         0.0|               2|            0|       1|   878.87|        0|
|   15589975|  Maclean|         646|      France|Female| 73|           6|    97259.25|               1|            0|       1|104719.66|        0|
|   15641122|      Wei|         684|      France|  Male| 30|           2|         0.0|               2|            1|       0| 83473.82|        0|
|   15630910|   Treacy|         800|      France|Female| 49|           7|   108007.36|               1|            0|       0| 47125.11|        0|
|   15658929| Taverner|         683|       Spain|  Male| 29|           0|   133702.89|               1|            1|       0| 55582.54|        1|
|   15586310|     Ting|         578|      France|  Male| 30|           4|   169462.09|               1|            1|       0|112187.11|        0|
|   15716334|   Rozier|         850|       Spain|Female| 45|           2|   122311.21|               1|            1|       1|  19482.5|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [336]:
bank_churned_null_removed.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- surname: string (nullable = true)
 |-- credit_score: integer (nullable = true)
 |-- home_country: string (nullable = false)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = false)
 |-- years_stayed: integer (nullable = true)
 |-- bank_balance: double (nullable = true)
 |-- no_products_used: integer (nullable = true)
 |-- hasCreditCard: integer (nullable = false)
 |-- isActive: integer (nullable = false)
 |-- salary: double (nullable = true)
 |-- isChurned: integer (nullable = true)

### 4. Kiểm tra từng cột một

Thế tại sao tự nhiên đi check từng cột một? Sau khi mà mình thay thiếc các thứ ấy, thì cái vấn đề là vẫn có thể có mấy dữ liệu 
nó bị dở người, kiểu lọt số 0 hay lọt cái ký tự lạ vô. Nên trước mắt là check distinct với cả xuôi ngược.

#### 4.1. 'customer_id'

In [368]:
bank_churned_null_removed.orderBy('customer_id', ascending = False).show()

+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|  surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15815690| Akabueze|         614|       Spain|Female| 40|           3|    113348.5|               1|            1|       1| 77789.01|        0|
|   15815660|    Mazzi|         758|      France|Female| 34|           1|   154139.45|               1|            1|       1| 60728.89|        0|
|   15815656|  Hopkins|         541|     Germany|Female| 39|           9|   100116.67|               1|            1|       1| 199808.1|        1|
|   15815645|   Akhtar|         481|      France|  Male| 37|           8|   152303.66|               2|            1|       1| 175082.2|        0|
|   15815628|   Moysey|         711|      France|Female| 37|           8|   113899.92|               1|            0|       0|  80215.2|        0|
|   15815626|   Oluchi|         640|      France|  Male| 63|           2|    68432.45|               2|            1|       1|112503.24|        1|
|   15815615|     Kung|         681|      France|  Male| 36|           5|   141952.07|               1|            1|       1|185144.08|        0|
|   15815560|    Bogle|         666|     Germany|  Male| 74|           7|    105102.5|               1|            1|       1| 46172.47|        0|
|   15815552| Ferguson|         670|      France|Female| 42|           6|   112333.63|               1|            1|       1| 65706.86|        0|
|   15815534|   Guidry|         505|       Spain|  Male| 37|           0|   134006.39|               1|            1|       1| 93736.69|        0|
|   15815530|     Chin|         612|      France|Female| 42|          10|    75497.51|               1|            0|       0|149682.78|        0|
|   15815490|    Cocci|         670|     Germany|  Male| 40|           2|   164948.98|               3|            0|       0| 177028.0|        1|
|   15815443|       Lo|         527|       Spain|Female| 46|          10|   131414.76|               1|            1|       0| 54947.51|        0|
|   15815428|Biryukova|         823|      France|  Male| 34|           3|   105057.33|               1|            1|       0|  9217.92|        0|
|   15815420|McDaniels|         808|       Spain|  Male| 47|           8|    139196.0|               1|            0|       1| 74028.36|        0|
|   15815364|   Ashley|         736|       Spain|Female| 28|           2|         0.0|               2|            1|       1| 117431.1|        0|
|   15815316|  Kennedy|         644|      France|  Male| 50|           9|     76817.0|               4|            1|       0|196371.13|        1|
|   15815295|     John|         662|      France|Female| 38|           2|    96479.81|               1|            1|       0|120259.41|        0|
|   15815271|  Ritchie|         755|     Germany|  Male| 43|           6|    165048.5|               3|            1|       0| 16929.41|        1|
|   15815259|     Fang|         835|      France|Female| 56|           2|         0.0|               2|            1|       1| 39820.13|        0|
+-----------+---------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [366]:
bank_churned_null_removed.orderBy('customer_id', ascending = True).show()

+-----------+----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|   surname|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15565701|     Ferri|         698|       Spain|Female| 39|           9|   161993.89|               1|            0|       0| 90212.38|        0|
|   15565706|  Akobundu|         612|       Spain|  Male| 35|           1|         0.0|               1|            1|       1| 83256.26|        1|
|   15565714|  Cattaneo|         601|      France|  Male| 47|           1|    64430.06|               2|            0|       1| 96517.97|        0|
|   15565779|      Kent|         627|     Germany|Female| 30|           6|    57809.32|               1|            1|       0|188258.49|        0|
|   15565796|  Docherty|         745|     Germany|  Male| 48|          10|    96048.55|               1|            1|       0| 74510.65|        0|
|   15565806|    Toosey|         532|      France|  Male| 38|           9|         0.0|               2|            0|       0| 30583.95|        0|
|   15565878|     Bates|         631|       Spain|  Male| 29|           3|         0.0|               2|            1|       1|197963.46|        0|
|   15565879|     Riley|         845|      France|Female| 28|           9|         0.0|               2|            1|       1| 56185.98|        0|
|   15565891|  Dipietro|         709|      France|  Male| 39|           8|         0.0|               2|            1|       0| 56214.09|        0|
|   15565996|    Arnold|         653|      France|  Male| 44|           8|         0.0|               2|            1|       1|154639.72|        0|
|   15566030|        Tu|         497|     Germany|  Male| 41|           5|    80542.81|               1|            0|       0| 88729.22|        1|
|   15566091|   Thomsen|         545|       Spain|Female| 32|           4|         0.0|               1|            1|       0|  94739.2|        0|
|   15566111|     Estes|         596|      France|  Male| 39|           9|         0.0|               1|            1|       0| 48963.59|        0|
|   15566139|     Ts'ui|         526|      France|Female| 37|           5|    53573.18|               1|            1|       0| 62830.97|        0|
|   15566156|  Franklin|         749|     Germany|Female| 44|           0|    71497.79|               2|            0|       0| 151083.8|        0|
|   15566211|       Hsu|         616|     Germany|Female| 41|           1|   103560.57|               1|            1|       0|   236.45|        1|
|   15566251|   Ferrari|         618|      France|Female| 37|           5|    96652.86|               1|            1|       0|  98686.4|        1|
|   15566253|   Manning|         580|     Germany|  Male| 44|           9|   143391.07|               1|            0|       0|146891.07|        1|
|   15566269|  Chialuka|         787|      France|  Male| 25|           5|         0.0|               2|            1|       0|  47307.9|        0|
|   15566292|Okwuadigbo|         574|       Spain|  Male| 36|           1|         0.0|               2|            0|       1| 71709.12|        0|
+-----------+----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

Cột này toàn số thôi nên cứ bọc đầu bọc đuôi không có vấn đề gì là ngon thôi.

#### 4.2. 'surname'

Nói một chút về ý nghĩa cột này với cột 'customer_id' nhé. Dataset của mình có thể dùng cho 2 mục đích: 
- <b>1: Churn Prediction</b>, lúc này thì các cột chuyển về dạng số hết, cột này và 'customer_id' là 2 cột thừa tại nó không có ý nghĩa gì cả.
<b>vd:</b> nếu bạn so sánh mối tương quan, chả nhẽ nếu tên bắt đầu là 'Z' thì sẽ đi vay ngân hàng nhiều hơn à =))
hay nếu khách hàng nào có id càng to càng vay lắm. Đủ để thấy 2 cột này vô giá trị nếu đưa vào học máy. 
- <b>2: Customer Churn Analysis, Customer Service...</b>, mấy cái này thiên về phân tích mô tả, lúc này mình có thể cần tới customer_id
để tìm ra khách hàng vay ác nhất trong năm vừa rồi để trao thưởng cho họ, hoặc làm đủ thứ khác liên quan tới CSKH. Cơ mà mình cần tên không, hay chỉ cần đưa id cho bên CSKH/Sale là họ tự tìm được khách. Dĩ nhiên là đưa id rồi, vậy nên cột 'surname' không có ý nghĩa gì hết.

Từ 2 cái này, mình có thể đi đến kết luận là <b>drop luôn cột 'surname' đi cho đỡ tốn dữ liệu =)))

In [400]:
#đặt tên là optimized vì mình bỏ cột thừa thãi
bank_churned_optimized = bank_churned_null_removed.drop('surname')
bank_churned_optimized.show()

+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15701354|         699|      France|Female| 39|           1|         0.0|               2|            0|       0| 93826.63|        0|
|   15643966|         616|     Germany|  Male| 45|           3|   143129.41|               2|            0|       1| 64327.26|        0|
|   15729599|         804|       Spain|  Male| 33|           7|     76548.6|               1|            0|       1| 98453.45|        0|
|   15804771|         614|      France|  Male| 51|           4|    40685.92|               1|            1|       1| 46775.28|        0|
|   15651280|         742|     Germany|  Male| 35|           5|    136857.0|               1|            0|       0| 84509.57|        0|
|   15592461|         603|     Germany|  Male| 26|           4|   109166.37|               1|            1|       1| 92840.67|        0|
|   15663706|         777|      France|Female| 32|           2|         0.0|               1|            1|       0|136458.19|        1|
|   15809248|         524|      France|Female| 36|          10|         0.0|               2|            1|       0|109614.57|        0|
|   15808582|         665|      France|Female| 40|           6|         0.0|               1|            1|       1|161848.03|        0|
|   15744689|         479|     Germany|  Male| 35|           9|    92833.89|               1|            1|       0| 99449.86|        1|
|   15682472|         828|      France|  Male| 34|           8|   129433.34|               2|            0|       0| 38131.77|        0|
|   15760085|         684|     Germany|Female| 48|          10|   126384.42|               1|            1|       1|198129.36|        0|
|   15628145|         682|      France|Female| 43|           5|   125851.93|               1|            1|       1|193318.33|        0|
|   15794413|         416|      France|  Male| 32|           0|         0.0|               2|            0|       1|   878.87|        0|
|   15589975|         646|      France|Female| 73|           6|    97259.25|               1|            0|       1|104719.66|        0|
|   15641122|         684|      France|  Male| 30|           2|         0.0|               2|            1|       0| 83473.82|        0|
|   15630910|         800|      France|Female| 49|           7|   108007.36|               1|            0|       0| 47125.11|        0|
|   15658929|         683|       Spain|  Male| 29|           0|   133702.89|               1|            1|       0| 55582.54|        1|
|   15586310|         578|      France|  Male| 30|           4|   169462.09|               1|            1|       0|112187.11|        0|
|   15716334|         850|       Spain|Female| 45|           2|   122311.21|               1|            1|       1|  19482.5|        0|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

#### 4.3. 'credit_score'

In [407]:
bank_churned_optimized.orderBy('credit_score', ascending = False).show()

+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15649124|         850|      France|  Male| 30|           9|   121535.18|               1|            0|       0| 40313.47|        0|
|   15700801|         850|     Germany|  Male| 42|           6|    84445.68|               3|            0|       1| 60021.34|        1|
|   15786078|         850|      France|Female| 28|           9|         0.0|               2|            1|       0|185821.41|        0|
|   15716334|         850|       Spain|Female| 45|           2|   122311.21|               1|            1|       1|  19482.5|        0|
|   15662641|         850|      France|  Male| 19|           8|         0.0|               1|            1|       1| 68569.89|        0|
|   15785798|         850|      France|  Male| 40|           9|         0.0|               2|            0|       1|119232.33|        0|
|   15654562|         850|       Spain|Female| 45|           5|    174088.3|               4|            1|       0|  5669.31|        1|
|   15808689|         850|      France|Female| 31|           4|         0.0|               2|            1|       1| 33082.81|        0|
|   15737509|         850|       Spain|  Male| 34|           8|   199229.14|               1|            0|       0| 68106.29|        0|
|   15790683|         850|      France|  Male| 36|           1|   104077.19|               2|            0|       1|  68594.0|        0|
|   15778975|         850|     Germany|Female| 70|           1|    96947.58|               3|            1|       0| 62282.99|        1|
|   15655229|         850|     Germany|Female| 35|           7|    114285.2|               1|            0|       1|129660.59|        0|
|   15729557|         850|     Germany|  Male| 36|           5|   119984.07|               1|            1|       0|191535.11|        1|
|   15684999|         850|      France|Female| 26|           4|    62610.96|               2|            0|       1| 179365.1|        0|
|   15784301|         850|      France|  Male| 42|           0|         0.0|               2|            1|       0| 44165.84|        0|
|   15717138|         850|       Spain|  Male| 31|           6|    82613.56|               2|            1|       0|149170.92|        0|
|   15812197|         850|      France|  Male| 38|           7|    80293.98|               1|            0|       0|126555.74|        0|
|   15689492|         850|     Germany|  Male| 41|           1|   176958.46|               2|            0|       1| 125806.3|        0|
|   15653547|         850|      France|  Male| 56|           7|   131317.48|               1|            1|       1|119175.45|        0|
|   15658589|         850|       Spain|  Male| 38|           2|    94652.04|               1|            1|       1|171960.76|        0|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [409]:
bank_churned_optimized.orderBy('credit_score', ascending = True).show()

+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15765173|         350|      France|Female| 60|           3|         0.0|               1|            0|       0|113796.15|        1|
|   15668309|         350|      France|Female| 40|           0|   111098.85|               1|            1|       1|172321.21|        1|
|   15758813|         350|     Germany|  Male| 39|           0|    109733.2|               2|            0|       0|123602.11|        1|
|   15685372|         350|       Spain|  Male| 54|           1|   152677.48|               1|            1|       1|191973.49|        1|
|   15803202|         350|      France|  Male| 51|          10|         0.0|               1|            1|       1|125823.79|        1|
|   15679249|         351|     Germany|Female| 57|           4|   163146.46|               1|            1|       0|169621.69|        1|
|   15692416|         358|       Spain|Female| 52|           8|   143542.36|               3|            1|       0|141959.11|        1|
|   15612494|         359|      France|Female| 44|           6|   128747.69|               1|            1|       0|146955.71|        1|
|   15779947|         363|       Spain|Female| 28|           6|   146098.43|               3|            1|       0|100615.14|        1|
|   15597896|         365|     Germany|  Male| 30|           0|   127760.07|               1|            1|       0| 81537.85|        1|
|   15791533|         367|       Spain|  Male| 42|           6|    93608.28|               1|            1|       0|168816.73|        1|
|   15734711|         373|      France|  Male| 42|           7|         0.0|               1|            1|       0| 77786.37|        1|
|   15804586|         376|      France|Female| 46|           6|         0.0|               1|            1|       0|157333.69|        1|
|   15656148|         376|     Germany|Female| 29|           4|   115046.74|               4|            1|       0|119346.88|        1|
|   15792650|         382|       Spain|  Male| 36|           0|         0.0|               1|            1|       1|179540.73|        1|
|   15642821|         383|       Spain|Female| 48|           8|    95808.19|               1|            0|       0|137702.01|        1|
|   15732643|         386|       Spain|Female| 53|           1|   131955.07|               1|            1|       1| 62514.65|        1|
|   15675337|         395|     Germany|Female| 34|           5|   106011.59|               1|            1|       1| 17376.57|        1|
|   15651052|         399|     Germany|  Male| 46|           2|   127655.22|               1|            1|       0|139994.68|        1|
|   15753332|         401|     Germany|  Male| 48|           8|   128140.17|               1|            1|       0|175753.55|        1|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

Điểm tín dụng trông có vẻ rất oke rồi.

#### 4.4. 'home_country'

Cột này thì nên check unique sẽ ổn nhất.

In [417]:
bank_churned_optimized.select(
    col('home_country')
).distinct().show()

+------------+
|home_country|
+------------+
|       Spain|
|     Unknown|
|      France|
|     Germany|
+------------+

4 giá trị rất đáng yêu rồi!

#### 4.5. 'gender'

Từ cột này thì cột nào có vấn đề mới có nói gì tiếp á không thì thôi.

In [425]:
bank_churned_optimized.select(
    col('gender')
).distinct().show()

+------+
|gender|
+------+
|Female|
|  Male|
+------+

#### 4.6. 'age'

In [429]:
bank_churned_optimized.orderBy('age', ascending = True).show()

+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15641688|         644|       Spain|  Male| 18|           7|         0.0|               1|            0|       1| 59645.24|        1|
|   15665521|         642|     Germany|  Male| 18|           5|   111183.53|               2|            0|       1| 10063.75|        0|
|   15673180|         727|     Germany|Female| 18|           2|     93816.7|               2|            1|       0|126172.11|        0|
|   15787619|         844|      France|  Male| 18|           2|   160980.03|               1|            0|       0|145936.28|        0|
|   15757821|         771|       Spain|  Male| 18|           1|         0.0|               2|            0|       0| 41542.95|        0|
|   15634146|         835|     Germany|  Male| 18|           2|   142872.36|               1|            1|       1|117632.63|        0|
|   15758372|         674|      France|  Male| 18|           7|         0.0|               2|            1|       1| 55753.12|        1|
|   15728829|         509|      France|  Male| 18|           7|   102983.91|               1|            1|       0|171770.58|        0|
|   15621893|         727|      France|  Male| 18|           4|   133550.67|               1|            1|       1| 46941.41|        0|
|   15657779|         806|       Spain|  Male| 18|           3|         0.0|               2|            1|       1| 86994.54|        0|
|   15796231|         681|      France|Female| 18|           1|    98894.39|               1|            1|       1|   9596.4|        0|
|   15570086|         684|     Germany|  Male| 18|           9|     90544.0|               1|            0|       1|  4777.23|        0|
|   15619892|         644|       Spain|  Male| 18|           8|         0.0|               2|            1|       0| 59172.42|        0|
|   15722701|         594|     Germany|  Male| 18|           1|   132694.73|               1|            1|       0|167689.56|        0|
|   15795519|         716|     Germany|Female| 18|           3|    128743.8|               1|            0|       0|197322.13|        0|
|   15665327|         706|      France|  Male| 18|           2|    176139.5|               2|            1|       0|129654.22|        0|
|   15759133|         616|      France|  Male| 18|           6|         0.0|               2|            1|       1| 27308.58|        0|
|   15770309|         656|      France|  Male| 18|          10|   151762.74|               1|            0|       1|127014.32|        0|
|   15569178|         570|      France|Female| 18|           4|    82767.42|               1|            1|       0|  71811.9|        0|
|   15805764|         646|      France|  Male| 18|          10|         0.0|               2|            0|       1| 52795.15|        0|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [431]:
bank_churned_optimized.orderBy('age', ascending = False).show()

+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15764927|         753|      France|  Male| 92|           3|   121513.31|               1|            0|       1|195563.99|        0|
|   15660878|         705|      France|  Male| 92|           1|   126076.24|               2|            1|       1| 34436.83|        0|
|   15813303|         513|       Spain|  Male| 88|          10|         0.0|               2|            1|       1| 52952.24|        0|
|   15578006|         787|      France|Female| 85|          10|         0.0|               2|            1|       1|116537.96|        0|
|   15798024|         537|     Germany|  Male| 84|           8|    92242.34|               1|            1|       1|186235.98|        0|
|   15653251|         408|      France|Female| 84|           8|    87873.39|               1|            0|       0|188484.52|        1|
|   15621644|         678|     Germany|  Male| 83|           6|   123356.63|               1|            0|       1| 92934.41|        0|
|   15810864|         700|      France|Female| 82|           2|         0.0|               2|            0|       1|182055.36|        0|
|   15800554|         850|      France|Female| 81|           1|         0.0|               2|            1|       1| 59568.24|        0|
|   15731569|         850|      France|  Male| 81|           5|         0.0|               2|            1|       1| 44827.47|        0|
|   15772341|         682|     Germany|  Male| 81|           6|   122029.15|               1|            1|       1| 50783.88|        0|
|   15620443|         711|      France|Female| 81|           6|         0.0|               2|            1|       1| 72276.24|        0|
|   15712287|         652|      France|Female| 80|           4|         0.0|               2|            1|       1|188603.07|        0|
|   15763097|         809|       Spain|  Male| 80|           8|         0.0|               2|            0|       1| 34164.05|        0|
|   15655171|         624|      France|  Male| 80|           3|         0.0|               1|            1|       1| 65801.44|        0|
|   15717879|         712|       Spain|Female| 79|           5|   108078.56|               1|            1|       1|174118.93|        0|
|   15793726|         681|      France|Female| 79|           0|         0.0|               2|            0|       1|170968.99|        0|
|   15808389|         617|      France|Female| 79|           7|         0.0|               1|            1|       1|160589.18|        0|
|   15628999|         732|      France|  Male| 79|          10|    61811.23|               1|            1|       1| 104222.8|        0|
|   15644103|         659|       Spain|  Male| 78|           2|   151675.65|               1|            0|       1| 49978.67|        0|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

#### 4.6. 'years_stayed'

In [436]:
bank_churned_optimized.orderBy('years_stayed', ascending = True).show()

+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15801265|         689|       Spain|Female| 45|           0|    57784.22|               1|            1|       0| 197804.0|        1|
|   15709523|         525|     Germany|Female| 30|           0|   157989.21|               2|            1|       1|100687.67|        0|
|   15635078|         714|       Spain|  Male| 45|           0|   124693.48|               1|            0|       1|187194.15|        0|
|   15658929|         683|       Spain|  Male| 29|           0|   133702.89|               1|            1|       0| 55582.54|        1|
|   15782659|         527|      France|  Male| 32|           0|         0.0|               1|            1|       0|109523.88|        0|
|   15745295|         727|       Spain|Female| 31|           0|         0.0|               1|            1|       0|121751.04|        1|
|   15690231|         612|       Spain|Female| 62|           0|   167026.61|               2|            1|       1|192892.05|        0|
|   15616709|         587|     Germany|Female| 38|           0|   132122.42|               2|            0|       0| 31730.32|        0|
|   15687130|         686|      France|Female| 43|           0|         0.0|               1|            1|       1| 170072.9|        0|
|   15678626|         538|       Spain|Female| 31|           0|         0.0|               2|            0|       0|179453.66|        0|
|   15784301|         850|      France|  Male| 42|           0|         0.0|               2|            1|       0| 44165.84|        0|
|   15715796|         728|      France|  Male| 37|           0|         0.0|               2|            1|       1|  72203.8|        0|
|   15794273|         604|      France|Female| 56|           0|    62732.65|               1|            0|       1|124954.56|        0|
|   15630363|         437|      France|Female| 39|           0|   102721.49|               1|            0|       0| 22191.82|        0|
|   15765297|         766|       Spain|  Male| 41|           0|         0.0|               2|            0|       1| 34283.23|        0|
|   15661007|         660|      France|  Male| 33|           0|    72783.42|               1|            0|       0|181051.99|        0|
|   15704954|         431|      France|  Male| 37|           0|   120764.08|               1|            1|       1|117023.08|        0|
|   15754113|         588|      France|Female| 35|           0|         0.0|               2|            1|       1|155485.24|        0|
|   15787529|         592|       Spain|  Male| 38|           0|         0.0|               1|            1|       0| 65986.48|        1|
|   15764448|         837|     Germany|  Male| 35|           0|    144037.6|               1|            1|       0|145325.32|        0|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows

In [438]:
bank_churned_optimized.orderBy('years_stayed', ascending = False).show()

+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|customer_id|credit_score|home_country|gender|age|years_stayed|bank_balance|no_products_used|hasCreditCard|isActive|   salary|isChurned|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
|   15747724|         671|       Spain|Female| 34|          10|         0.0|               1|            1|       0| 23235.38|        0|
|   15598161|         654|      France|  Male| 47|          10|         0.0|               2|            1|       0|170481.98|        0|
|   15744582|         680|      France|Female| 24|          10|         0.0|               3|            1|       0|154971.63|        1|
|   15760085|         684|     Germany|Female| 48|          10|   126384.42|               1|            1|       1|198129.36|        0|
|   15595388|         594|      France|Female| 30|          10|         0.0|               2|            1|       1|124071.71|        0|
|   15568240|         492|     Germany|Female| 30|          10|    77168.87|               2|            0|       1|146700.22|        0|
|   15812513|         599|     Germany|  Male| 45|          10|   103583.05|               1|            1|       0|132127.69|        1|
|   15629117|         584|      France|  Male| 28|          10|         0.0|               2|            1|       0| 19834.32|        0|
|   15642725|         797|      France|  Male| 32|          10|    114084.6|               1|            0|       1|125782.29|        0|
|   15571778|         817|      France|Female| 55|          10|   117561.49|               1|            1|       0| 95941.55|        1|
|   15578006|         787|      France|Female| 85|          10|         0.0|               2|            1|       1|116537.96|        0|
|   15615456|         680|      France|Female| 37|          10|   123806.28|               1|            1|       0| 81776.84|        1|
|   15753874|         694|      France|  Male| 37|          10|   143835.47|               1|            0|       1| 33326.71|        0|
|   15691952|         676|      France|  Male| 37|          10|   106242.67|               1|            1|       1|166678.28|        0|
|   15684319|         780|     Germany|Female| 37|          10|    95196.26|               1|            1|       0|126310.39|        1|
|   15741092|         671|       Spain|  Male| 34|          10|   153360.02|               1|            1|       0|140509.86|        0|
|   15733247|         850|      France|  Male| 33|          10|         0.0|               1|            1|       0|  4861.72|        1|
|   15750299|         746|       Spain|  Male| 24|          10|    68781.82|               1|            0|       1| 47997.39|        0|
|   15702430|         548|      France|Female| 35|          10|         0.0|               1|            1|       1| 31299.71|        0|
|   15728078|         609|      France|  Male| 26|          10|   126392.18|               1|            0|       1| 43651.49|        0|
+-----------+------------+------------+------+---+------------+------------+----------------+-------------+--------+---------+---------+
only showing top 20 rows